.container {
    width: 500px;
    height: 500px;
    border-width: 2px;
    border-style: solid;
}

.header {
    height: 130px;
    /* border-width: 2px;
    border-style: solid; */
    margin: 10px;
}

.nav-1,
.nav-2 {
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;

}

.nav-3 {
    height: 100px;
    width: 190px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}

.main {
    height: 150px;
    /* width: 400px; */
    /* border-width: 2px;
    border-style: solid; */
    /* margin: 10px; */
}

.divclass1 {
    height: 120px;
    /* width: 400px; */
    /* border-width: 2px;
    border-style: solid; */
    /* margin: 10px; */
}

.section1 {
    height: 100px;
    width: 180px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}

.section2 {
    height: 100px;
    width: 260px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}

.divclass2 {
    height: 120px;
    /* width: 400px; */
    /* border-width: 2px;
    border-style: solid; */
    /* margin: 10px; */
}

.section3 {
    height: 100px;
    width: 300px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}

.section4 {
    height: 100px;
    width: 140px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}
.footer{
    width: 470px;
    height: 60px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
}
.section5{
    width: 150px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    margin-left: 150px;
    margin-top: 10px;
}